services:
  postgres:
    image: postgres
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_fastapi_data:/var/lib/postgresql
    networks:
      - fastapi_network

  backend:
    build: ./app
    container_name: fastapi-app
    ports:
      - 8000:8000
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - fastapi_network
    volumes:
      - ./app:/app

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=${VITE_API_URL}
    env_file:
      - .env
    container_name: react-app
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - fastapi_network
    volumes:
      - ./frontend:/app
      - /app/node_modules    

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: ${POSTGRES_USER}@${POSTGRES_USER}.com
      PGADMIN_DEFAULT_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 5050:80
    depends_on:
      - postgres
    networks:
      - fastapi_network
    volumes:
      - pgadmin_data:/var/lib/pgadmin


volumes:
  postgres_fastapi_data:
  pgadmin_data:

networks:
  fastapi_network: